.row {
  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }
  &--gutters > div {
    padding-right: 65px;
  }
  &--gutters-larges {
    margin-right: -120px;
  }
  &--gutters-larges > div {
    padding-right: 120px;
  }

  &__b-margin-until-meduim {
    margin-bottom: 1rem;
  }
  @mixin atMeduim {
    &__b-margin-until-meduim {
      margin-bottom: 0;
    }
    &__meduim-4 {
      float: left;
      width: 33.33%;
    }
  }
  &__meduim-4--lager {
    width: 37%;
  }
  &__meduim-4 {
    float: left;
    width: 66.66%;
  }
  &__meduim-4--smaller {
    width: 63%;
  }

  &__meduim-4--lager {
    width: 37%;
  }
  &__meduim-6 {
    float: left;
    width: 50%;
  }
  &__meduim-8 {
    float: left;
    width: 66.66%;
  }
  &__meduim-4--smaller {
    width: 63%;
  }
}
